# This is git ignore file
reated by https://www.gitignore.io/api/c,vim,linux
# Edit at https://www.gitignore.io/?templates=c,vim,linux

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

hello
hello_debug
